<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

<script type="text/javascript">
    parent.postMessage({refreshToken: "<%= refreshToken %>", accessToken: "<%= accessToken %>"}, "*");
</script>

</body>
</html>